.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin: 3rem 0;
}

.projectHeader {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 10rem;
}

.card {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #fff;
  margin-left: 4rem;
  width: 20rem;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fallback {
  width: 100%;
  height: 200px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-weight: bold;
}

.card h3 {
  padding: 12px;
  margin: 0;
}

.card p {
  padding: 0 12px 16px;
  color: #555;
  margin: 0;
}
