html {
  scroll-behavior: smooth;
}
.grid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  margin-left: 2rem;
}

.card {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  background-color: #fff;
  width: 80%;
  padding: 1rem;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.fallback {
  height: 200px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.pagination button {
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
}
